<!DOCTYPE html>
<html lang="{{ site.lang | default: "en-US" }}">

<head>
  <meta charset="UTF-8">
  <link rel="icon" href="{{ site.logo }}" />
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="/assets/css/style.css">
  <script src="https://cdn.jsdelivr.net/npm/jquery@3.7.1/dist/jquery.min.js"></script>
  <script src="/assets/js/zoom.min.js"></script>
  <title>{{ page.title }} | {{ site.title }}</title>
</head>

<body>
  <div class="wrapper">
    {% if page.title != 'Home' %}
    <a href="{{ "/" | absolute_url }}">Home</a>
    {% endif %}
    {% if page.title != 'About' %}
    <span style="float:right;"><a href="/about.html">About</a></span>
    {% endif %}
    <br />

    {{ content }}

    <footer>
      <small>
        Hosted on <a href='https://github.com/MyWorkShop/likai.wang'>GitHub Pages</a>
      </small>
    </footer>
  </div>
</body>

</html>